@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  }
}

:root {
  --background: #121212;
  --foreground: #ededed;
  --primary: #FFDB70;
  --card-dark: #1E1E1F;
  --cardBg: #e6e6e6;
  --border-dark: #383838;
  --text-muted: #818080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card-dark: var(--card-dark);
  --color-border-dark: var(--border-dark);
  --color-text-muted: var(--text-muted);
  --font-pop: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

.withBorder {
  border: 1px solid var(--border-dark);
}

.bgGra{
  background-color: linear-gradient(to right, var(--background), var(--border-dark));
}

.title-underline {
  position: relative;
  display: inline-block;
}

.title-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(100% + 15px);
  width: 40px;
  height: 5px;
  background: var(--primary);
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.active-nav {
  color: var(--primary);
}

/* Custom scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--border-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}

 .word-space {
  word-spacing: 0.25rem;  
}